<div class="container film-list-container">

<h1>Lista Filmów</h1>
<div class="table-responsive">
<table id="books-table" class="table table-striped table-hover align-middle">
  <caption>Lista dostępnych filmów</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Tytuł</th>
      <th>Opis</th>
      <th>Kategoria</th>
      <th>Aktorzy</th>
      <th>Akcje</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.id }}</td>
      <td>{{ book.title }}</td>
      <td>{{book.description}}</td>
      <td>{{book.category.name}}</td>
      <td>
        <span *ngFor="let actor of book.actors; let last = last">
          {{actor.name}} {{actor.surname}}{{!last ? ', ' : ''}}
        </span>
      </td>
      <td>
        <a [routerLink]="['/book/show', book.id]" class="btn btn-info">Zobacz</a> &nbsp;
        <a [routerLink]="['/books/edit', book.id]" class="btn btn-warning">Edytuj</a> &nbsp;
        <button (click)="deleteBook(book.id)" class="btn btn-danger">Usuń</button>
    </tr>
  </tbody>
</table>
</div>
  <div class="d-flex justify-content-between flex-wrap gap-2 mt-3">
<a routerLink="/book/add" class="btn btn-primary mb-3">Dodaj nowy film</a>


<button type="button" class="btn btn-secondary mt-2" (click)="showAddActor = true">
  Dodaj nowego aktora
</button>
</div>

<div *ngIf="showAddActor" class="border rounded p-3 mt-2">
  <h5>Dodaj aktora</h5>

  <div class="form-group">
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Imię"
      [(ngModel)]="newActor.name"
      [ngModelOptions]="{standalone: true}"
      name="newActorName"
      required
    >
    <input
      type="text"
      class="form-control mb-2"
      placeholder="Nazwisko"
      [(ngModel)]="newActor.surname"
      [ngModelOptions]="{standalone: true}"
      name="newActorSurname"
      required
    >
    <div class="d-flex gap-2 mt-2">
    <button type="button" class="btn btn-success" (click)="addNewActor()">Dodaj aktora</button>
    <button type="button" class="btn btn-link text-danger" (click)="showAddActor = false">Anuluj</button>
    </div>
  </div>
</div>
</div>
